
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<title>Online Food Service</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'webapp/1css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'webapp/1css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'webapp/1css/font-awesome.css' %}" rel="stylesheet"> <!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'webapp/1css/owl.carousel.css' %}" type="text/css" media="all"/> <!-- Owl-Carousel-CSS -->
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'webapp/1js/jquery-2.2.3.min.js' %}"></script>
<!-- //js -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header">

			<!-- //header-one -->
			<!-- navigation -->
			<div class="navigation agiletop-nav">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header w3l_logo">
							<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1><a href="">Online Food Service</a></h1>
						</div>
						<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="{% url 'index'%}" class="active">Home</a></li>
								<li class="w3pages"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="{% url 'login' %}">Customer</a></li>
										<li><a href="{% url 'rlogin' %}">Restaurant</a></li>
										<li><a href="{% url 'alogin' %}">Admin</a></li>
									</ul>
								</li>

								<li class="w3pages"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registration <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="{% url 'register' %}">Customer</a></li>
										<li><a href="{% url 'rregister' %}">Restaurant</a></li>
									</ul>
								</li>
							</ul>
						</div>

					</nav>
				</div>
			</div>
			<!-- //navigation -->
		</div>
		<!-- //header-end -->
		<!-- banner-text -->
		<div class="banner-text">
			<div class="container">
				<h2>Delicious food from the <br> <span>Best Chefs For you.</span></h2>

			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- add-products -->
	<div class="add-products">
		<div class="container">
			<div class="add-products-row">
				<div class="w3ls-add-grids">
					<a href="">
						<h4>Get <span><br>Cashback</span></h4>

						<h6>Order Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="w3ls-add-grids w3ls-add-grids-right">
					<a href="menu.html">
						<h4>GET <span><br> Offer</span></h4>
						<h6>Order Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //add-products -->
	<!-- order -->
	<div class="wthree-order">
		<img src="/static/webapp/1images/i2.jpg" class="w3order-img" alt=""/>
		<div class="container">
			<h3 class="w3ls-title">How To Order Online Food</h3>
			<p class="w3lsorder-text">Get your favourite food in 4 simple steps.</p>
			<div class="order-agileinfo">
				<div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids">
					<div class="order-w3text">
						<i class="fa fa-map" aria-hidden="true"></i>
						<h5>Search Area</h5>
						<span>1</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids">
					<div class="order-w3text">
						<i class="fa fa-cutlery" aria-hidden="true"></i>
						<h5>Choose Food</h5>
						<span>2</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids">
					<div class="order-w3text">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h5>Pay Money</h5>
						<span>3</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids">
					<div class="order-w3text">
						<i class="fa fa-truck" aria-hidden="true"></i>
						<h5>Enjoy Food</h5>
						<span>4</span>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //order -->
	<!-- deals -->

	<!-- //deals -->
	<!-- dishes -->
	<div class="w3agile-spldishes">
		<div class="container">
			<h3 class="w3ls-title">Special Foods</h3>
			<div class="spldishes-agileinfo">
				<div class="col-md-3 spldishes-w3left">
					<h5 class="w3ltitle"> Specials<br/>Foods</h5>
					<p></p><br/><br/>
				</div>
				<div class="col-md-9 spldishes-grids">
					<!-- Owl-Carousel -->
					<div id="owl-demo" class="owl-carousel text-center agileinfo-gallery-row">
						<a href="" class="item g1">
							<img class="lazyOwl" src="{% static 'webapp/1images/g1.jpg' %}" title="Our latest gallery" alt=""/>

						</a>
						<a href="" class="item g1">
							<img class="lazyOwl" src="{% static 'webapp/1images/g2.jpg' %}" title="Our latest gallery" alt=""/>

						</a>
						<a href="" class="item g1">
							<img class="lazyOwl" src="{% static 'webapp/1images/g3.jpg' %}" title="Our latest gallery" alt=""/>

						</a>
						<a href="" class="item g1">
							<img class="lazyOwl" src="{% static 'webapp/1images/g4.jpg' %}" title="Our latest gallery" alt=""/>

						</a>
						<a href="" class="item g1">
							<img class="lazyOwl" src="{% static 'webapp/1images/g5.jpg' %}" alt=""/>

						</a>
						<a href="" class="item g1">
							<img class="lazyOwl" src="{% static 'webapp/1images/g1.jpg' %}" title="Our latest gallery" alt=""/>

						</a>
						<a href="" class="item g1">
							<img class="lazyOwl" src="{% static 'webapp/1images/g2.jpg' %}" title="Our latest gallery" alt=""/>

						</a>
						<a href="" class="item g1">
							<img class="lazyOwl" src="{% static 'webapp/1images/g3.jpg' %}" title="Our latest gallery" alt=""/>

						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //dishes -->
	<!-- subscribe -->

	<!-- //subscribe -->
	<!-- footer -->

	<div class="copyw3-agile">
		<div class="container">
			<p>&copy; 2021. All rights reserved</p>
		</div>
	</div>
	<!-- //footer -->
	<!-- cart-js -->
	<script src="{% static 'webapp/1js/minicart.js' %}"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        		}
        	}
        });
    </script>
	<!-- //cart-js -->
	<!-- Owl-Carousel-JavaScript -->
	<script src="{% static 'webapp/1js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel ({
				items : 3,
				lazyLoad : true,
				autoPlay : true,
				pagination : true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->
	<!-- start-smooth-scrolling -->
	<script src="{% static 'webapp/1js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'webapp/1js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'webapp/1js/easing.js' %}"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'webapp/1js/bootstrap.js' %}"></script>
</body>
</html>