{% extends 'webapp/uc1.html' %}
{% block content %}
<center><h2>Shop Grocery</h2></center>

     {% for i in list %}
        <div style="width:256px;height:330px;background-color:lightgray;float: left;margin-left:45px;margin-right:30px;margin-bottom:30px;margin-top:30px;">
     <img src="{{ i.Image.url }}" width="255" height="250"><br/>
            <br/>
            <div style="width:256px;"><center><button><a href="{% url 'userpdtdet' i.id %}">View More</a> </button><button><a href="{% url 'buy' i.id %}">Buy Now</a> </button></center></div>
             <br/>
            <table border="1" width="250">
             <tr><td>Product Name:</td> <td>{{ i.Product_name }}</td></tr>
            </table>
            <br/>


        </div>
     {% endfor %}
{% endblock %}